<connectionStrings>
  <add name="eToolsDB" connectionString="Data Source.; Initial Catalog=eTools; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection"
      connectionString="Data Source=.;Initial Catalog=eTools;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <!--<add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-eToolsWebsite-54debaf0-2b96-439e-b244-bae8af29b783;AttachDbFilename=|DataDirectory|\aspnet-eToolsWebsite-54debaf0-2b96-439e-b244-bae8af29b783.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>-->
</connectionStrings>